name: sugar_sense_tracker_new
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.15  # For storing user preferences and settings
  fl_chart: ^0.70.2 ## For creating charts and graphs
  sqflite: ^2.3.2  # SQLite for persistent data storage
  path_provider: ^2.0.12  # To find the correct file path for the database


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  #Dependancies from: https://pub.dev/packages
